<navbar></navbar>
<div class="container">
	<div class="row">
		<div class="col-sm-12 box">
			<h2 class="text-center">{{words.drafts}}</h2>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="text-center colum-index">#</th>
						<th class="text-center colum-date">{{words.date}}</th>
						<th class="text-center">{{words.title}}</th>
						<th class="text-center colum-actions">{{words.actions}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="post in drafts | orderBy : '-date'">
						<th class="colum-index text-center">{{$index}}</th>
						<td class="colum-date text-center">{{post.date | date:'MMM d, y'}}</td>
						<td>
							<span ng-show="language=='en'">{{post.titleEn}}</span>
							<span ng-show="language=='es'">{{post.titleEs}}</span> 
						</td>
						<td class="text-center colum-actions">
							<a class="pull-left" ng-click="publishPost(post._id)">{{words.publish}}</a>  <a ng-click="editPost(post._id)">{{words.edit}}</a>  <a class="pull-right" ng-click="deletePost(post._id)">{{words.delete}}</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 box">
			<h2 class="text-center">{{words.posts}}</h2>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="text-center colum-index">#</th>
						<th class="text-center colum-date">{{words.date}}</th>
						<th class="text-center">{{words.title}}</th>
						<th class="text-center colum-actions">{{words.actions}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="post in posts | orderBy : '-date'">
						<th class="colum-index text-center">{{$index}}</th>
						<td class="colum-date text-center">{{post.date | date:'MMM d, y'}}</td>
						<td>
							<span ng-show="language=='en'">{{post.titleEn}}</span>
							<span ng-show="language=='es'">{{post.titleEs}}</span> 
						</td>
						<td class="text-center colum-actions">
							<a class="pull-left" ng-click="draftPost(post._id)">{{words.toDrafts}}</a>  <a ng-click="editPost(post._id)">{{words.edit}}</a>  <a class="pull-right" ng-click="deletePost(post._id)">{{words.delete}}</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>