<navbar></navbar>
<div class="container">
	<div class="row margin-row text-center box">
		<h3>{{words.images}}</h3>
        <div class ="col-sm-3 text-center" ng-repeat="image in images track by $index">
            <div class="thumbnail">
            	<h5><input type="text" class="form-control" ng-init="image.nameImg = image.name" ng-model="image.nameImg"></h5>
                <img ng-src="http://augustolemble.com:3011/getImage?name={{image.name}}">
                <h5><a ng-click="deleteImage(image.name)" class="cursor-pointer">{{words.delete}}</a> <a ng-click="changeNameImg(image._id,image.nameImg)" class="cursor-pointer">{{words.changeName}}</a></h5>
            </div>
        </div>
    </div>
	<div class="row">
		<div class="col-sm-12 text-center box">
			<form method="POST">
				<div flow-file-added="!!{png:1,jpg:1}[$file.getExtension()]" flow-files-submitted="$flow.upload()" flow-init class="ng-scope" flow-name="images" flow-file-success="addImg()">
	                <div ng-class="dropClass" flow-drop="" class="drop text-center margin-row">
	                    <span flow-btn="" class="btn btn-default">Upload Image<input type="file" style="visibility: hidden; position: absolute;" multiple="multiple"></span>
	                    <span ng-show="$flow.supportDirectory" flow-directory="" flow-btn="" class="btn btn-default ng-hide" >{{words.selectOrDrag}}<input type="file" style="visibility: hidden; position: absolute;" multiple="multiple" webkitdirectory="webkitdirectory" ></span>
	                    
	                </div>
	                <div class="row margin-row" ng-repeat="image in images.files">
	                    <div class="gallery-box ng-scope">
	                        <span class="title ng-binding">{{image.name}}</span>
	                        <div class="thumbnail">
	                            <img flow-img="image" img-name="{{image.name}}" class="imageInput">
	                        </div>
	                        <div ng-class="{active: image.isUploading()}" class="progress progress-striped">
	                            <div ng-style="{width: (image.progress() * 100) + '%'}" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar" style="width: 100%;">
	                                <span class="sr-only ng-binding">1% Complete</span>
	                            </div>
	                        </div>
	                        <div class="btn-group">
	                            <a ng-click="image.cancel()" class="btn btn-xs btn-danger">{{words.delete}}</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <h3 class="text-center"><button class="btn" id="uploadButton" >{{words.upload}}</button></h3>
            </form>
        </div>
    </div>
</div>